.panel {
  border: 4px solid black;
  background-color: var(--input-color);
  padding: 10px;
}

.connectionInputs > label, .themeInputs > label, .defaultEntryTypeInputs > label {
  color: black;
}

.connectionInputs > input, .themeInputs > input, .defaultEntryTypeInputs > input {
  background-color: white;
}
