:root {
  --background-color: #dddddd;
  --input-color: white;
  --text-color: black;
}

body {
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
